{
    "tabWidth": 2,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["**/*.json", ".prettierrc"],
            "options": { "tabWidth": 4 }
        },
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
