{
    "tabWidth": 4,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["**/*.yaml", "**/*.yml", "**/*.md"],
            "options": { "tabWidth": 2 }
        },
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
